/* 페이지 진입, 진출 중인 상태일 때 */
.page-enter-active,
.page-leave-active {
    transition: 0.05s;
}

/* 페이지 진입 전, 진출 후 상태일 때 */
.page-enter,
.page-leave-to {
    opacity: 0;
}

.divider {
    margin: 16px 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    margin: 0 auto;
    text-align: center;
}
