#__nuxt {
    max-width: 420px;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    #__nuxt {
        margin: 10vh auto;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
